// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#admin-page {

    padding-top: 0px;
}
#reply-test{
    margin-top: 60px !important;
}

.toggle-reply-form
{
    display: none;
}